.testi {
    display: inline-block;
}

.label {
  display: inline-flex;
  
  min-width: 2em;
  align-items: center;
  height: 2em;
  margin: 0.3em 0.3em;
  font-size: 0.8em;
  
  background-color: #ccc;
  border-radius: 0.2em;
  padding: 0 0.4em;
}

.label img {
    width: 1em;
    margin: 0 0.4em;
}

.icon {
    width: 1.2rem;
    margin: 0 0.3rem;
    padding: 0;
}